checkpoint/cartoon/sampler.pt
checkpoint/encoder.pt
checkpoint/cartoon/exstyle_code.npy
checkpoint/cartoon/generator.pt
checkpoint/cartoon/refined_exstyle_code.npy
__pycache__/util.cpython-38.pyc
model/__pycache__/__init__.cpython-38.pyc
model/__pycache__/dualstylegan.cpython-38.pyc
model/encoder/__pycache__/__init__.cpython-38.pyc
model/encoder/__pycache__/psp.cpython-38.pyc
model/encoder/encoders/__pycache__/__init__.cpython-38.pyc
model/encoder/encoders/__pycache__/helpers.cpython-38.pyc
model/encoder/encoders/__pycache__/psp_encoders.cpython-38.pyc
model/sampler/__pycache__/__init__.cpython-38.pyc
model/sampler/__pycache__/icp.cpython-38.pyc
model/stylegan/__pycache__/__init__.cpython-38.pyc
model/stylegan/__pycache__/model.cpython-38.pyc
model/stylegan/op/__pycache__/__init__.cpython-38.pyc
model/stylegan/op/__pycache__/conv2d_gradfix.cpython-38.pyc
model/stylegan/op/__pycache__/fused_act.cpython-38.pyc
model/stylegan/op/__pycache__/upfirdn2d.cpython-38.pyc
Paper.pdf
output
temp
pics
data
data/content/face.jpg
model/encoder/__pycache__/align_all_parallel.cpython-38.pyc
notebooks/copy_of_inference_playground.py
test
data/content/test_face.jpg
checkpoint/shape_predictor_68_face_landmarks.dat
checkpoint/generator-pretrain.pt
checkpoint/model_ir_se50.pth
checkpoint/stylegan2-ffhq-config-f.pt
checkpoint/cartoon/finetune-000600.pt
log
model/stylegan/__pycache__/dataset.cpython-38.pyc
model/stylegan/__pycache__/distributed.cpython-38.pyc
model/stylegan/__pycache__/non_leaking.cpython-38.pyc
logs
new_logs
checkpoint
model/__pycache__/vgg.cpython-38.pyc
model/contextual_loss/__pycache__/__init__.cpython-38.pyc
model/contextual_loss/__pycache__/config.cpython-38.pyc
model/contextual_loss/__pycache__/functional.cpython-38.pyc
model/contextual_loss/modules/__pycache__/contextual_bilateral.cpython-38.pyc
model/contextual_loss/modules/__pycache__/contextual.cpython-38.pyc
model/contextual_loss/modules/__pycache__/vgg.cpython-38.pyc
model/encoder/criteria/__pycache__/id_loss.cpython-38.pyc
model/encoder/encoders/__pycache__/model_irse.cpython-38.pyc
model/stylegan/lpips/__pycache__/__init__.cpython-38.pyc
model/stylegan/lpips/__pycache__/base_model.cpython-38.pyc
model/stylegan/lpips/__pycache__/dist_model.cpython-38.pyc
model/stylegan/lpips/__pycache__/networks_basic.cpython-38.pyc
model/stylegan/lpips/__pycache__/pretrained_networks.cpython-38.pyc
model/contextual_loss/modules/__pycache__/__init__.cpython-38.pyc
