checkpoint
__pycache__
model
Paper.pdf
output
temp
pics
data
notebooks
test
log
logs
new_logs
checkpoint
output2
output3
encoder/InterFaceGAN/*.py[cod]
encoder/InterFaceGAN/*.jpg
encoder/InterFaceGAN/*.png
encoder/InterFaceGAN/*.jpeg
encoder/InterFaceGAN/*.npy
encoder/InterFaceGAN/log.txt
encoder/InterFaceGAN/results/
encoder/InterFaceGAN/models/pretrain/
encoder/InterFaceGAN/data/
encoder/InterFaceGAN/boundaries/
.vscode/settings.json
encoder/assets
new_output
gui/modified_faces
gui/age
gui/gender
gui/generated
gui/smiling_man
hyperplanes/*.jpg